body { font-family: Arial; font-size: 10pt; }

#content { margin: 20px}

.tbl { border-collapse: collapse; }
.tbl td, th { padding: 4px; border: 1px solid #cccccc; }
.tbl th { background-color: #e4e4e4; border: 1px solid #cccccc; }

.form { border-collapse: collapse; }
.form td, th { padding: 4px; border: 0; }
.form th { text-align: right; }
.collapse img {display:block;}
.collapse-img,
.active .expand-img{display:none !important;}
.active .collapse-img {display:block !important;}

#items thead.imain > tr > th span {
    position: relative
}
#items thead.imain > tr > th span a.changeLink {
    position: absolute;
    left: 0px;
    top: -34px;
    width: 32px;
    height: 36px;
    background: url('../images/i-settings.png') no-repeat;
    text-decoration: none;
    display: none
}
#items thead.imain > tr > th span:hover a.changeLink {
    display: block
}
